<html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/semantic.min.js"></script>
    <style type="text/css">
    	body {
    		margin-top: 50px;
    	}
    </style>
</head>

<body>
    <div class="ui grid">
        <div class="fourteen wide centered column">
        {% block body %}{% endblock %}
        </div>
    </div>
</body>

</html>
