{% extends 'base.html' %} {% block body %}
<h3 class="ui right floated header">
  <a href="{{ url_for('result') }}">
    <div class="ui animated fade button">
      <div class="visible content">
        查看结果
      </div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </a>
</h3>
<h1 class="ui left floated header">
  <i class="tasks icon"></i>
  <div class="content">
    任务
    <div class="sub header">
      <div class="sub header">{{ total }}</div>
    </div>
  </div>
</h1>
<table class="ui table">
    <thead>
      <tr>
        <th>TaskID</th>
        <th>Host</th>
        <th>Url</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {% if not result %}
            <tr>
              <td colspan="8"><h1 class="center aligned">无</h1></td>
            </tr>
        {% else %}
        {% for task in result %}
        <tr>
            <td>{{ task.taskid }}</td>
            <td><a href="{{ url_for('tasks') }}?host={{ task.host }}">{{ task.host }}</td>
            <td>{{ task.origin_url }}</td>
            <td>{{ task.time }}</td>
            <td>
              <span class="ui blue label">running</span>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% if result and total > show_size %}
<div class="ui pagination menu">
    {% if current_page > 1 %}
    <a href="{{ url_for('tasks' )}}?page={{ current_page - 1}}{% if host %}&host={{ host }}{% endif %}" class="icon item">
        <i class="left arrow icon"></i>
    </a>
    {% endif %}

    {% for page in range(1, total_page + 1) %}
    {% if page == current_page %}
    <a class="active item">{{ page }}</a>
    {% else %}
    <a href="{{ url_for('tasks') }}?page={{ page }}{% if host %}&host={{ host }}{% endif %}" class="item">{{ page }}</a>
    {% endif %} 
    {% endfor%}
    
    {% if current_page <= total_page - 1%}
    <a href="{{ url_for('tasks' )}}?page={{ current_page + 1}}{% if host %}&host={{ host }}{% endif %}" class="icon item">
        <i class="right arrow icon"></i>
        </a>
    {% endif %}
</div>
{% endif %}

<script>

    var getHostStat = function() {
        $("#loading").show();
        $.ajax({
            url: '/host/stat',
            dataType: 'json',
            success: function(response) {
                var html = '';
                $.each(response, function(_, e) {
                    html += '<div class="ui label">' + e['host'] + '<div class="detail">' + e['task_number'] + '</div></div>'
                })
                $("#host_stat").html(html);
                $("#loading").hide();
            }
        })
    }

    // getHostStat();
    // setInterval('getHostStat()', '2000')

</script>

{% endblock %}
