{% extends 'base.html' %} {% block body %}
<h3 class="ui right floated header">
  <a href="{{ url_for('result') }}">
    <div class="ui animated fade button">
      <div class="visible content">
        查看结果
      </div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </a>
</h3>
<h1 class="ui left floated header">
任务
<div class="sub header">{{ total }}</div>
</h1>
<table class="ui table">
    <thead>
        <tr>
            <th>TaskID</th>
            <th>Host</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if not result %}
            <tr>
                <td colspan="8"><h1 class="center aligned">无</h1></td>
            </tr>
        {% else %}
        {% for task in result %}
        <tr>
            <td>{{ task.taskid }}</td>
            <td><a href="{{ url_for('tasks') }}?host={{ task.host }}">{{ task.host }}</td>
            <td>{{ task.time }}</td>
            <td>
                <span class="ui blue label">running</span>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% if result and total > show_size %}
<div class="ui pagination menu">
    {% if current_page > 1 %}
    <a href="{{ url_for('tasks' )}}?page={{ current_page - 1}}{% if host %}&host={{ host }}{% endif %}" class="icon item">
        <i class="left arrow icon"></i>
    </a>
    {% endif %}

    {% for page in range(1, total_page + 1) %}
    {% if page == current_page %}
    <a class="active item">{{ page }}</a>
    {% else %}
    <a href="{{ url_for('tasks') }}?page={{ page }}{% if host %}&host={{ host }}{% endif %}" class="item">{{ page }}</a>
    {% endif %} 
    {% endfor%}
    
    {% if current_page <= total_page - 1%}
    <a href="{{ url_for('tasks' )}}?page={{ current_page + 1}}{% if host %}&host={{ host }}{% endif %}" class="icon item">
        <i class="right arrow icon"></i>
        </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
